@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
box-sizing: border-box;
font-family:"Poppins",sans-serif;
margin: 0;
padding: 0;

}

.card
{
    padding: 6rem;
    margin: 5rem;
    font-size: 1rem;
    position: absolute;
    top: 8rem;
    color:black;
    background-color: white;
    transition: transform .2s;
}


.card:hover{
    cursor: pointer;
    background-color: #f6f2ff;
    transform: scale(1.1);
    color: white;

}

.bigcontainer{

    display: flex;

height: 50vh;
    align-items: center;
    justify-content: center;
  
  }
  
    .hey{
    
    height: 25rem;
    position: relative;
 
    max-width: 25rem;
    width: 100%;
 
  }
 
body
{   height: 100vh;
  
    background-repeat: no-repeat;
    background: linear-gradient(#f17ecf,#47b2e4);

