@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
box-sizing: border-box;
font-family:"Poppins",sans-serif;
margin: 0;
padding: 0;

}



*{
box-sizing: border-box;
font-family:"Poppins",sans-serif;
margin: 0;
padding: 0;
}


.bigcontainer{

  display: flex;
  height: 50vh;
 margin-top: 100px;
  align-items: center;
  justify-content: center;
}
body{

    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#f17ecf,#47b2e4);
}

.container{
    height: 500px;
    position: relative;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    background: white;
    border-radius: 30px;
}

header{

    font-size: 35px;
    color: rgb(22, 20, 20);
    text-align: center;

}

textarea{

    width: 100%;
    padding: 10px 15px;
    margin-top: 45px;
    border-radius: 8px;
    outline: none;
    resize: vertical;
    height: 200px;
    font-size: 20px;

}

button{
    border-radius: 8px;
width: 80%;
margin-top: 50px;
margin-left: 45px;
height: 60px;
border: none;
font-size: 20px;
background: rgb(197, 54, 54);
color: white;
transition: all 0.3s ease;
}


button:hover{
    background: rgb(211, 58, 58);
    cursor: pointer;
}

button:active{
    background: rgb(185, 172, 172);
}